<div class="about-container">
  <div class="about-text-container">
    <div>
      <div><p>Hello, my name is</p></div>
      <div><h2>Marcos Guardado</h2></div>
      <div><h2>And I love develop awesome things</h2></div>
      <div>
        <p>
          I’m web developer based in México who is passionate for create useful
          things for the people, making the web easier for all.
        </p>
      </div>
    </div>
  </div>
  <div class="about-image-container">
    <img src="https://i.imgur.com/Gpmci2I.png" class="about-image" />
  </div>
</div>
